*{
margin:0px;
padding:0px;
box-sizing:border-box;
list-style:none;
}
html,body{
width:100%;
height:100%;
font-family:sans-serif;
}
.none{
display:none;
}
a{
text-decoration:none;
}
.container{
max-width:1470px;
margin:0 auto;
padding:0 15px;
}
.table{
   padding-top: 20px;
}
table{
   width: 100%;
   border-spacing: 0;
   text-align: center;
}
button{
   cursor:pointer;
}
.texareas {
   padding-top: 20px;
   display: flex;
   justify-content: center;
   gap: 10px;
}
textarea{
   width: 200px;
   height: 300px;
}