* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   list-style: none;
}

html,
body {
   width: 100%;
   height: 100%;
   font-family: sans-serif;
}

.none {
   display: none;
}

a {
   text-decoration: none;
}

.container {
   max-width: 1470px;
   margin: 0 auto;
   padding: 0 15px;
}

.form {
   padding: 1rem;
   background-color: teal;
   margin: 20px auto;
   width: 50vw;
   min-width: 375px;
   border-radius: 1rem;
}

.form-header {}

.form-body {}

label {
   margin-bottom: 0.25em;
}

input {
   width: 100%;
   outline: none;
   border-radius: 0.25rem;
   border: 1px solid #ccc;
}

.form-input {
   position: relative;
   margin-bottom: 0.5rem;
}

.form-input-required {
   position: absolute;
   top: 50%;
   left: 100%;
   display: none;
   color: red;
   font-size: 10px;
   padding: 10px;
   border: 1px solid red;
   width: 180px;
}

.form-footer {}